---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
const pageTitle = "Awais Amjad's Portfolio";
---

<Layout pageTitle={pageTitle}>
    <div class="flex justify-between items-center">
        <h1 class="mt-10">Awais Amjad</h1>
        <span class="badge mt-10">Aspiring Software Developer</span>
    </div>
    <h2>About</h2>
    <p class="mt-2 mb-3"> An aspiring software engineer with a 
        passion for learning and building things. 
        I am a self-taught developer with a 
        background in design engineering. Check out my projects
    </p>
    <div class="center">
        <a href="/projects/">
            <button class="btn">My projects</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center flex">
        <img
            class="skills__img"
            width="46"
            height="46"
            alt="Rust"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/rust/rust-original.svg"
        />
        <img
            class="skills__img"
            width="46"
            height="46"
            alt="Python"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"
        />
        <img
            class="skills__img"
            width="46"
            height="46"
            alt="Go"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/go/go-original.svg"
        />
        <img
            class="skills__img"
            width="46"
            height="46"
            alt="Svelte"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/svelte/svelte-original.svg"
        />
        <img
            class="skills__img"
            width="46"
            height="46"
            alt="Git"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
        />
    </div>
    <h2>Interests</h2>
    <ul>
        <li>- Systems programming</li>
        <li>- Software Development</li>
        <li></li>
    </ul>
</Layout>
