---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
const pageTitle = "Awais Amjad's Portfolio";
---

<Layout pageTitle={pageTitle}>
    <div class="flex justify-between items-center">
        <h2 class="mt-10">Awais Amjad</h2>
        <span class="badge mt-10">Aspiring Software Developer</span>
    </div>
    <h2>About</h2>
    <p class="mt-2 mb-3">
        An aspiring software engineer with a passion for learning and building
        things. I am a self-taught developer with a background in design
        engineering. Check out my projects for my completed, current, and future
        projects and the GitHub repository for the source code. Explore my posts for my thoughts on
        software development and technology. Feel free to take a look at my CV for my resume.
        Scroll down to see my skills, education and interests.
    </p>
    <h2>Education</h2>
    <p class="mt-2 mb-3 flex-col font-bold">
        B.Eng (Hons) - First Class
        <br>
        Design, Innovative and Creative Engineering
        <br>
        Queen Mary University of London, UK
    </p>
    <div class="center">
        <a href="/projects/">
            <button class="btn">My projects</button>
        </a>
        <a href="/posts/">
            <button class="btn">My posts</button>
        </a>
        <a href="https://github.com/awaisamjad" target="_blank">
            <button class="btn">My GitHub</button>
        </a>
        <a href="/cv/">
            <button class="btn">My CV</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center flex">
        <img
            class="skills__img"
            width="46"
            height="46"
            alt="Rust"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/rust/rust-original.svg"
        />
        <img
            class="skills__img"
            width="46"
            height="46"
            alt="Python"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"
        />
        <img
            class="skills__img"
            width="46"
            height="46"
            alt="Git"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/c/c-original.svg"
        />
        <img
            class="skills__img"
            width="46"
            height="46"
            alt="Go"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/go/go-original.svg"
        />
        <img
            class="skills__img"
            width="46"
            height="46"
            alt="Svelte"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/svelte/svelte-original.svg"
        />
        <img
            class="skills__img"
            width="46"
            height="46"
            alt="Git"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
        />
    </div>
    <h2>Interests</h2>
    <ul>
        <li>- Systems programming</li>
        <li>- Software Development</li>
        <li></li>
    </ul>
</Layout>
