---
import { displayQuote } from "../lib/utils";
import Section from "./common/Section.astro";
---

<footer class="mt-16 mb-4 flex flex-col items-center">
  <Section class="mb-4 flex flex-col italic items-center justify-center">
    <div set:html={displayQuote()}></div>
  </Section>
</footer>
