---
import { GLOBAL } from "../lib/variables";
import Section from "./common/Section.astro";

const date = new Date();
const year = date.getFullYear();
---

<footer class="mt-16 mb-4 border-t-2 flex flex-col items-center">
  <Section class="mb-4 flex flex-col items-center justify-center">
    <p class="zag-text text-center text-sm font-medium">
      &copy; {year}
      {GLOBAL.username}. All rights reserved.
    </p>
  </Section>
</footer>
