---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="flex mt-3 justify-between items-center">
    <div class="font-firacode text-3xl">
        <a href="/">My Portfolio</a>
    </div>
    <div class="font-firacode flex space-x-4">
        <a href="/projects/">Projects</a>
        <a href="/posts/">Posts</a>
        <a href="https://github.com/awaisamjad" target="_blank">GitHub</a>
        <ThemeIcon />
    </div>
</div>
