---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="flex mt-3 justify-between items-center">
    <div class="font-firacode text-3xl">
        <a href="/">My Portfolio</a>
    </div>
    <div class="font-firacode flex space-x-4">
        <a href="/projects/">Projects</a>
        <a href="/posts/">Posts</a>
        <a href="/cv/">CV</a>
        <a href="https://github.com/awaisamjad" target="_blank">
            <img src="/github-white.svg" alt="GitHub" width="20" />
        </a>
        <a href="https://www.linkedin.com/in/awais-amjad-145aa7215/" target="_blank">
            <img src="/linkedin.svg" alt="LinkedIn" width="20" />
        </a>
        <ThemeIcon />
    </div>
</div>
