<link rel="stylesheet" href="styles/navbar_style.css">
<nav class="navbar">
    <div class="logo">
        <a href="/" class="navbar_logo">Portfolio</a>
    </div>
    <div class="navbar_links">
        <a href="/" class="navbar_link">Home</a>
        <a href="/about" class="navbar_link">About</a>
        <a href="/contact" class="navbar_link">Contact</a>
    </div>
    <div class="searchBar">
        <div class="searchButton">
            <img src="images/search.svg" alt="search" class="searchIcon">
            Search
        </div>
    </div>

</nav>