---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
import "@fontsource-variable/jetbrains-mono";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/images/luffy.webp" />
    <meta name="generator" content={Astro.generator} />
   
    <!-- Cronitor RUM -->
    <script async src="https://rum.cronitor.io/script.js"></script>
    <script>
      window.cronitor =
        window.cronitor ||
        function () {
          (window.cronitor.q = window.cronitor.q || []).push(arguments);
        };
      cronitor("config", { clientKey: "469803078db254f89302af54e35dcfb4" });
    </script>

    <slot name="head" />
  </head>
  <body class="bg zag-text">
    <Header />
    <main class="max-w-4xl mx-auto">
      <slot />
    </main>
    <Footer />
  </body>
</html>
